body{
margin:0;
font-family:Arial;
}




.navbar{
display:flex;
justify-content:space-between;
align-items:center;
background:#3a202d;
padding:15px;
color:white;
position:sticky;
top:0;
}

.nav-links{
list-style:none;
display:flex;
gap:20px;
}

.nav-links a{
color:white;
text-decoration:none;
}

.nav-links a:hover{
color:pink;
}




.dropdown{
position:relative;
}

.dropdown-menu{
display:none;
position:absolute;
background:white;
color:peachpuff;
list-style:none;
padding:10px;
}

.dropdown:hover .dropdown-menu{
display:block;
}





section{
padding:60px;
}

.intro{
background:#f4f4f4;
}




.card-container{
display:flex;
gap:20px;
}

.card{
background:#eee;
padding:20px;
flex:1;
text-align:center;
}




.gallery{
display:flex;
gap:10px;
}

.gallery img{
width:100%;
max-width:300px;
}




.sticky-notice{
background:yellow;
padding:10px;
position:sticky;
top:70px;
}




.visible-box{
background:lightgreen;
padding:20px;
margin-bottom:10px;
}

.hidden-box{
background:lightcoral;
padding:20px;
}




footer{
text-align:center;
padding:20px;
background:#181838;
color:white;
}




@media(max-width:768px){

.nav-links{
flex-direction:column;
}

.card-container{
flex-direction:column;
}

.gallery{
flex-direction:column;
}

.hidden-box{
display:none;
}

}
