body{
margin:0;
font-family:Arial;
}


/* NAVBAR */

.navbar{
display:flex;
justify-content:space-between;
align-items:center;
background:#222;
padding:15px;
color:white;
position:sticky;
top:0;
}

.nav-links{
list-style:none;
display:flex;
gap:20px;
}

.nav-links a{
color:white;
text-decoration:none;
}

.nav-links a:hover{
color:pink;
}


/* DROPDOWN */

.dropdown{
position:relative;
}

.dropdown-menu{
display:none;
position:absolute;
background:white;
color:black;
list-style:none;
padding:10px;
}

.dropdown:hover .dropdown-menu{
display:block;
}



/* SECTIONS */

section{
padding:60px;
}

.intro{
background:#f4f4f4;
}


/* SERVICES */

.card-container{
display:flex;
gap:20px;
}

.card{
background:#eee;
padding:20px;
flex:1;
text-align:center;
}


/* GALLERY */

.gallery{
display:flex;
gap:10px;
}

.gallery img{
width:100%;
max-width:300px;
}


/* STICKY NOTICE */

.sticky-notice{
background:yellow;
padding:10px;
position:sticky;
top:70px;
}


/* DISPLAY BEHAVIOR */

.visible-box{
background:lightgreen;
padding:20px;
margin-bottom:10px;
}

.hidden-box{
background:lightcoral;
padding:20px;
}


/* FOOTER */

footer{
text-align:center;
padding:20px;
background:#222;
color:white;
}


/* RESPONSIVE */

@media(max-width:768px){

.nav-links{
flex-direction:column;
}

.card-container{
flex-direction:column;
}

.gallery{
flex-direction:column;
}

.hidden-box{
display:none;
}

}
